
.loginForm {
  height: 85vh;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transform: translateX(-100vw);
  transition: transform 1s ease-in-out;
}
.rollLeft {
  transform: translateX(-100vw);
}

.loginForm button {
  min-width: 10vw;
  min-height: 5vh;
}

.loginForm input {
  min-width: 20vw;
}

label {
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 5vh;
  font-weight: 600;
  padding: 5px;
  text-shadow: #039be5 3px 0 10px;
}

.loginForm span {
  color: red;
  font-size: 1vw;
}
