.mainMenu {
  overflow: hidden;
  height: 85vh;
  width: 60vw;
  /* background: url("./assets/imgs/tetris-wallpaper-hd-1440x900-450598.jpg") top   no-repeat;*/
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  transform: translateX(200vw);
  transition: 1s ease-in-out;
}

.rollRight {
  transform: translateX(0);
}

.welcome {
  font-size: 3vw;
}
.mainMenu img {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  margin: 10px 10px -30px 0;
  cursor: pointer;
}

.mainMenu ul li {
  cursor: pointer;
  text-align: center;
  list-style: none;
  font-size: 10vh;
  background-color: rgb(92, 206, 252);
  margin: 1rem;
  border-radius: 5%;
  user-select: none;
}

.optionsDiv {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 5vh;
  margin-top: 8%;
  width: 50%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.9);
}
.optionsDiv input {
  cursor: pointer;
  width: 50%;
  transition: 0.3s;
}
.optionsDiv input:hover {
  transform: scale(1.1);
}

.optionsDiv span {
  text-align: center;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 1vh;
}
.optionsDiv span:last-child {
  border-bottom: 1px solid black;
  cursor: pointer;
}

.recordsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  width: 50vw;
  font-size: 5vh;
  padding: 1rem;
}
.recordsDiv > span {
  cursor: pointer;
}
.recordsDiv > div {
  width: 50%;
}
.recordsDiv > div > p {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 1200px) {
  .welcome {
    font-size: 5vh;
  }
}
@media screen and (max-width: 900px) {
  .mainMenu,
  .loginForm {
    width: 95%;
  }
  .mainMenu img {
    margin: 0;
    align-self: auto;
  }

  .loginForm button {
    min-width: 15vh;
    min-height: 5vh;
  }
  .loginForm input {
    min-width: 30vh;
  }
}
