* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/imgs/tetrisBG.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}


